.body {
    height: 1017px;
    width: 1440px;
    /*width: 1125px;*/
    align-content: stretch;
    justify-content: stretch;
}

.header {
    display: grid;
    background-color: rgba(56, 88, 4, 0.08);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px;
}

.logo {
    display: grid;
    height: 64px;
    width: 64px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 51px;
    margin-left: 96px;
}

.menu {
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: 100px;
    padding: 66px;
    gap: 55px;
}

.home {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-decoration: underline;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.product {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.about {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.manufacturing {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;

    grid-column: 4/5;
    grid-row: 1/2;
}

.menuelement {
    display: grid;
    width: 37.5px;
    height: 11px;
    padding: 12px;
    grid-column: 5/6;
    grid-row: 1/2;
}

.main1 {
    display: grid;
    background-color: rgba(56, 88, 4, 0.08);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 390px 240px 75px;
    padding: 100px;
    margin-right: 0px;
}

.h1 {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 64px;
    color: rgba(38, 49, 59, 1);
    font-weight: 700;
    line-height: 96px;

    grid-column: 1/3;
    grid-row: 1/2;
    align-items: stretch;
    margin-left: 40px;
}

.text1 {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: rgba(38, 49, 59, 1);
    font-weight: 400;
    line-height: 36px;

    grid-column: 1/3;
    grid-row: 2/3;
    align-items: stretch;
    margin-left: 40px;
    margin-right: 140px;
    margin-top: 2px;
}

.img1 {
    display: grid;
    width: 680px;
    height: 902px;

    grid-column: 3/4;
    grid-row: 1/4;
    margin-right: -100px;
}

.buttonpro {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    background-color: rgba(56, 88, 4, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    grid-column: 1/3;
    grid-row: 3/4;

    justify-items: center;
    align-items: center;
    width: 307px;
    margin-left: 40px;
}

.main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 210px 200px;
}

.h2 {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 64px;
    color: rgba(38, 49, 59, 1);
    font-weight: 700;
    text-align: center;

    margin-top: 170px;
    margin-left: 288px;
    margin-right: 288px;

    grid-column: 1/5;
    grid-row: 1/2;
}

.img-living {
    display: grid;
    width: 219px;
    height: 219px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-items: center;
    justify-self: center;
    margin-left: 96px;
}

.img-bath {
    display: grid;
    width: 219px;
    height: 219px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-items: center;
    justify-self: center;
}

.img-terrace {
    display: grid;
    width: 219px;
    height: 219px;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-items: center;
    justify-self: center;
}

.img-kitchen {
    display: grid;
    width: 219px;
    height: 219px;
    grid-column: 4/5;
    grid-row: 2/3;
    justify-items: center;
    justify-self: center;
    margin-right: 96px;
}

.living {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-align: center;
    line-height: 42px;

    grid-column: 1/2;
    grid-row: 3/4;

    margin-left: 96px;
}

.bath {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-align: center;
    line-height: 42px;

    grid-column: 2/3;
    grid-row: 3/4;
}

.terrace {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-align: center;
    line-height: 42px;

    grid-column: 3/4;
    grid-row: 3/4;
}

.kitchen {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-align: center;
    line-height: 42px;

    grid-column: 4/5;
    grid-row: 3/4;

    margin-right: 96px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 200px 200px;
    background-color: rgba(56, 88, 4, 0.08);
}

.menu-footer {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: rgba(19, 19, 19, 1);
    font-weight: 400;
    text-align: start;
    line-height: 33px;
    margin-left: 125px;
}

.services {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 225px;
}

.menu2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 225px;
}

.help {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 225px;
}

.join {
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 48px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-align: start;
    line-height: 72px;

    grid-column: 4/5;
    grid-row: 1/2;

    margin-top: 15px;
    margin-left: 100px;
}

.email {
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 26px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    text-align: start;
    line-height: 39px;

    height: 46px;
    width: 341px;

    grid-column: 4/5;
    grid-row: 2/3;

    margin-top: -75px;
    margin-left: 100px;
    margin-right: -30px;
}

.footerelement1 {
    width: 299px;
    height: 0px;
    border: 1px solid;
    grid-column: 4/5;
    grid-row: 3/4;
    margin-top: -220px;
    margin-left: 100px;
}

.footerelement2 {
    width: 65px;
    height: 65px;
    grid-column: 5/6;
    grid-row: 2/3;

    margin-top: -83px;
    margin-right: 200px;

}